body {
    background-color: black;
    color: white;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

h1 {
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}

label, input, button {
    margin: 10px auto; 
    border-radius: 5px;
    display: block;
}

input {
    padding: 5px;
    width: 100%;
}

button {
    padding: 10px;
    background-color: blue;
    color: white;
    cursor: pointer;
    width: 100%; 
}

#resultado {
    margin-top: 20px;
}

footer {
    margin-top: auto;
    text-align: center;
    padding: 10px;
    background-color:transparent;
    width: 100%; 
    position: absolute;
    bottom: 0; 
}